.Logo{
		display: block; 
		margin: auto;
}
ul{
	margin: 3% 0;
	text-align: center;
	border: 1px solid grey;
	

}





.Grupal{
		left: 20px;
		position: relative;
}
.inicio{
		border-radius: 50%;
}
.paisajes{
			width: 50%;
			height: 50%;
			left: 200%;
			right: 200%;
}
.Programas{
			background-color: grey; 
			height: 30px;
			margin: 30PX;
}
